.portal-cont{
    position: absolute;
    width: 100%;
    height: max-content;
    left: 0px;
    top: 11%;
    background: #C5E5EB;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

}

.cards{

    /* position: absolute;
    left: 2.99%;
    top: 10%; */
    padding: 0px 5px;
    margin: 50px 20px;
    height: 416px;
    width: 304px;
    background: #232F3E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.company-name{
    position: relative;
    margin-top: 21.88%; 
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #02C2C1;
}

.cat{

position: relative;
margin-top: 0%;
font-family: Barlow;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.discription{
    /* Description */
position: relative;
margin-top: 0%;
font-family: Barlow;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}

