.news-cont{
    position: absolute;
    width: 100%;
    height: 89%;
    left: 0px;
    top: 11%;
    background: #C5E5EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-sect{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 80%;
    width: 90%;
    padding: 20px 0px;
    background-color: rgb(34, 35, 56);
    overflow: auto;
}

.news-slice{
    width: 95%;
    height: 130px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px; 
    background-color:black;
    border-radius: 10px;
    border: 0.5px solid darkslateblue;
    text-decoration: none;
}

.first-img{
    /* height: 130px; */
    width: 15%;
    /* background-color: darkslategray; */
    border-radius: 10px;
}

.headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 130px;
    /* background-color: lightgray; */
    color: white;
    justify-content: center;
    /* align-items: center; */
    
}

.second-img{
    /* height: 100%; */
    border-radius: 10px;
    width: 15%;
    /* background-color: dimgray; */
}

.btn{
    position: absolute;
    top: 80%;
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.recent-btn, .older-btn{
    width: 48%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: darkslateblue;
    font-size: large;
    color: white;
    font-family: Barlow;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}